# choose st-link/j-link/dap-link etc.
# choose CMSIS-DAP Debugger
adapter driver cmsis-dap
# select SWD port
transport select swd

# 0x10000 = 64K Flash Size
set FLASH_SIZE 0x200000

source [find target/stm32h7x.cfg]

# download speed = 5MHz
# 5MHz on FireDebugger
adapter speed 2000

# connect under reset
reset_config none